<div class="widget" style="padding: 0">
  <nz-carousel nzAutoPlay>
    <div class="banner-img" nz-carousel-content>
      <img src="../../../assets/微信图片_20210314230341.jpg">
    </div>
    <div class="banner-img" nz-carousel-content>
      <img src="../../../assets/微信图片_20210314230346.jpg">
    </div>
  </nz-carousel>
</div>